body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    line-height: 1.6;
    background-color:#ffffff;
    color: #333;
}

header {
    background: #266e68;
    color: #55c7c7;
    padding: 10px 0;
    text-align: center;
}
.header {
    color: #e9daa8;
    padding: 10px 0;
    text-align: center;
}
.imagen {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.imagen img {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    border: none;
    border-radius: 15px;
}

nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px 0; 
}

nav ul li a {
    text-decoration: none; 
    color: inherit; 
    padding: 10px 15px; 
    display: flex;
    justify-content: flex-start; 
    margin-right: 15px; 
    padding: 10px 15px; 
    border: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

nav ul li a:hover { /*al pasar con el raton*/
    background-color: #d8e6e6; 
    color: #333; 
    border-radius: 5px;
}
nav ul {
    align-items: center;

    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: flex-start; 
    gap: 15px; 
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.imagenAbout {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px; 
}

.imagenAbout img {
    width: 250px; 
    height: auto;
    margin-right: 20px; 
    border-radius: 5px; 
}

.imagenAbout p {
    flex: 1; 
    font-size: 16px;
}


.imagenAbout2 {
    flex-direction: row-reverse; 

}
.imagenAbout2 img {
    margin-right: 0; 
    margin-left: 20px; 
}


.aboutH1 {
    text-align: center;
    padding: 20px;
    background-color: #f3e6bd;
    color: #9dc9a8;
}

.imagenAbout img,
.imagenAbout2 img {
    width: 250px; 
    height: auto;
    margin-right: 20px; 
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.imagenAbout img:hover,
.imagenAbout2 img:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.imagenAbout2 img {
    margin-right: 0;
    margin-left: 20px;
}
